@import "tailwindcss";

:root {
  --darkColor: #141301;
  --lightColor: #E3E7AF;
  --greenColor: #2A5F27;
}

@theme inline {
  --color-darkColor: var(--darkColor);
  --color-lightColor: var(--lightColor);
  --color-greenColor: var(--greenColor);
  --font-lora: var(--font-lora);
  --font-poppins: var(--font-poppins);
}

body {
  background: var(--darkColor);
  color: var(--lightColor);
  font-family: var(--font-poppins);
}

main {
  padding: 0 60px;
}
